body 
{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

/* Random Fox Generator styles */
#contianer
{
    margin: auto;
    text-align: center;
    background-color: rgb(236, 236, 236);
}
/* header text style */
#header-text
{
    margin-top: 10px;
    margin-bottom: 15px;
}
/* image style */
.fox-image {
    max-width: 400px;
    height: 300px;
}
/* button style */
#new-fox-button
{
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: rgb(66, 66, 194);
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 6px;
    cursor: pointer;
}
/* button hover style */
#new-fox-button:hover 
{
    background-color: black;
    color: white;
    border-color: black;
}